<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8">
            <div class="pomodoro">
                <h1 class="pomodoro__title">Pomodoro Timer {{ counterDisplay() }}</h1>
                <p class="pomodoro__display">{{ timerDisplay() }}</p>

                <div class="pomodoro__buttons">
                    <button class="btn btn-primary" (click)="startTimer()" [disabled]="timerStatus()">Start</button>
                    <button class="btn btn-danger" (click)="stopTimer()" [disabled]="!timerStatus()">Stop</button>
                    <button class="btn btn-secondary" (click)="resetTimer()">Reset</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4">
            <div class="tasks">
                <h2 class="tasks__title">Tasks</h2>


            </div>
        </div>
    </div>
</div>