<div class="card">
  <div class="d-flex justify-content-between flex-column-reverse flex-md-row align-items-center">
    <div>
      <h3 class="text-justify">{{ title }}</h3>
      <div class="d-flex flex-wrap justify-content-center justify-content-md-start gap-3">
        @for (chip of chips;track chip.id) {
        <p-chip [label]="chip.label" [icon]="chip.icon"></p-chip>
        } @empty {
        <p-chip [label]="date" icon="pi pi-calendar"></p-chip>
        }
      </div>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center">
      @if (authors.length >0) {
      <p-avatarGroup styleClass="mb-3">
        @for (author of authors;track author.id){
        <p-avatar [image]="author.image" [pTooltip]="author.name" tooltipPosition="top" [attr.aria-labelledby]="author.name" size="large" shape="circle"></p-avatar>
        }
      </p-avatarGroup>
      }
    </div>
  </div>
  <div class="mb-3 my-3">
    <img [src]="cover" alt="Cover" class="w-100">
  </div>
  <div class=" mb-4 font-semibold">{{ summary }}</div>
  <hr>
  <markdown clipboard emoji mermaid katex [katexOptions]="katexOptions" [data]="content"></markdown>
  <hr class="mt-4 mb-4">
  <div class="flex flex-column sm:flex-row my-8 w-full gap-3">
    <p-button pRipple icon="pi pi-twitter" label="Twitter"></p-button>
  </div>
</div>