<p-button class="config-button" (onClick)="configService.sidebarConfigVisible = !configService.sidebarConfigVisible">
  <i class="pi pi-cog"></i>
</p-button>
<p-sidebar [(visible)]="configService.sidebarConfigVisible" position="right">
  <h3>Config</h3>
  <p-button (onClick)="close()">Close</p-button>
  <ol>
    <li><a routerLink="/"> Page home </a></li>
    <li><a routerLink="/lorem"> Page lorem </a></li>
    <li><a routerLink="/debug"> Page debug </a></li>
    <li><a routerLink="/pomodoro"> Link to pomodoro </a></li>
    <li><a routerLink="/article"> Articles </a></li>
    <li><a routerLink="/article/0"> Article 0 </a></li>
    <li><a routerLink="/page-random">Error </a></li>
  </ol>

  <hr>


</p-sidebar>