<ng-template #clipboardButtonTemplate>
  <button>copy</button>
</ng-template>


<div markdown katex clipboard [data]="katexMarkdown"></div>
<markdown katex clipboard src="/assets/test-2.md" (load)="onLoad()"></markdown>
<markdown katex clipboard [clipboardButtonComponent]="clipboardButtonComponent" src="/assets/test-2.md"  (load)="onLoad()"></markdown>
<markdown katex clipboard [clipboardButtonTemplate]="clipboardButtonTemplate" src="/assets/test-2.md" (load)="onLoad()"></markdown>
<hr> 
<markdown emoji katex mermaid clipboard src="/assets/test.md"></markdown>