@import "reset";
@import "primeng/resources/themes/bootstrap4-dark-purple/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@font-face {
  font-family: DMMono-Italic;
  src: url(assets/fonts/DM_Mono/DMMono-Italic.ttf);
}

@font-face {
  font-family: DMMono-Light;
  src: url(assets/fonts/DM_Mono/DMMono-Light.ttf);
}

@font-face {
  font-family: DMMono-LightItalic;
  src: url(assets/fonts/DM_Mono/DMMono-LightItalic.ttf);
}

@font-face {
  font-family: DMMono-Medium;
  src: url(assets/fonts/DM_Mono/DMMono-Medium.ttf);
}

@font-face {
  font-family: DMMono-MediumItalic;
  src: url(assets/fonts/DM_Mono/DMMono-MediumItalic.ttf);
}

@font-face {
  font-family: DMMono-Regular;
  src: url(assets/fonts/DM_Mono/DMMono-Regular.ttf);
}

body {
  font-family: "DMMono-Regular", sans-serif
}

.text-justify {
  text-align: justify;
}


/* You can add global styles to this file, and also import other style files */
.markdown-clipboard-button {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.07);
  border: none;
  border-radius: 4px;
  font-size: 11px;
  padding: 4px 0;
  width: 50px;
  transition: all 250ms ease-out;
}

.markdown-clipboard-button:hover {
  background-color: rgba(255, 255, 255, 0.14);
}

.markdown-clipboard-button:active {
  transform: scale(0.95);
}

.markdown-clipboard-button.copied {
  background-color: rgba(0, 255, 0, 0.1);
  color: #00ff00;
}


//---


.w-5rem {
  width: 5rem;
}

.h-5rem {
  height: 5rem;
}

.w-100 {
  width: 100%;
}

.text-nowrap {
  text-wrap: nowrap;
}

.t-balance {
  text-wrap: balance;
}

.t-pretty {
  text-wrap: pretty;
}

.font-bold {
  font-weight: 700;
}

.fs-075 {
  font-size: 0.75rem;
}

.gap-3 {
  gap: 1rem;
}


// Corregir reset con estilos primeng
ol,
ul,
dl {
  margin-bottom: 0 !important;
}

button {
  line-height: normal;
}