<p-dataView [value]="items()" [sortField]="sortField" [sortOrder]="sortOrder" [layout]="layout">
  <ng-template pTemplate="header">
    <div class="d-flex flex-sm-row flex-column gap-3 justify-content-between">
      <div>
        <p-iconField iconPosition="left">
          <p-inputIcon styleClass="pi pi-search" />
          <input type="text" pInputText placeholder="Buscar" #searchQuery (input)="onSearchUpdated(searchQuery.value)" />
        </p-iconField>
      </div>
      <div>
        <div class="d-flex justify-content-end gap-3">
          <p-dropdown [options]="sortOptions" placeholder="Ordenar por ..." (onChange)="onSortChange($event)"></p-dropdown>
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="list">
    <div class="article row row-cols-12 row-cols-sm-12 row-cols-md-12 row-cols-lg-12 row-cols-xl-12 p-3">
      @for (item of items(); track item; let first = $first) {
      <div class="col-12">
        <article role="article" class="article__item">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
              <a [routerLink]="['/article', item.slug]">
                <img class="article__cover img-fluid rounded" [src]="item.cover" [alt]="item.title" title="{{item.title}}" />
              </a>
              <div class="article__chips">
                @for (chip of item.chips; track chip.id){
                <p-chip [label]="chip.label" [icon]="chip.icon" ngClass="pr-2" styleClass="fs-075"></p-chip>
                }
              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-8">
              <div class="article__content article__content--list">
                <h3 class="article__title"><a [routerLink]="['/article', item.slug]">{{item.title}}</a></h3>
                <p class="article__summary">{{ item.summary }}</p>
                <p>
                  @for (keyword of item.keywords; track keyword){
                  <p-tag [value]="keyword" ngClass="pr-1" styleClass="fs-075">#</p-tag>
                  }
                </p>
              </div>
            </div>
          </div>

        </article>
      </div>
      }
    </div>
  </ng-template>

  <ng-template pTemplate="grid">
    <div class="article row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 p-3">
      @for (item of items(); track item) {
      <div class="col">
        <article role="article" class="article__item">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <a [routerLink]="['/article', item.slug]">
                <img class="article__cover rounded" [src]="item.cover" [alt]="item.title" title="{{item.title}}" />
              </a>
              <div class="article__chips">
                @for (chip of item.chips; track chip.id){
                <p-chip [label]="chip.label" [icon]="chip.icon" ngClass="pr-2" styleClass="fs-075"></p-chip>
                }
              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <div class="article__content article__content--grid">
                <h3 class="article__title"><a [routerLink]="['/article', item.slug]">{{ item.title }}</a></h3>
                <p class="article__summary">{{ item.summary }}</p>
                <p>
                  @for (keyword of item.keywords; track keyword){
                  <p-tag [value]="keyword" ngClass="pr-1" styleClass="fs-075">#</p-tag>
                  }
                </p>
              </div>
            </div>
          </div>
        </article>
      </div>
      }
    </div>
  </ng-template>
</p-dataView>